:root {
  --bg: #0f0f0f;
  --fg: #fff;
  --card-1: #b2b2b2;
  --card-2: #ce2017;
  --card-3: #2f2f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

img {
  width: 300px;
  height: 600px;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: 1rem;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  background: var(--bg);
  color: var(--fg);
}

.into,
.outro {
  text-align: center;
  align-content: center;
}

.into h1,
.outo h1 {
  width: 30%;
  margin: 0 auto;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sticky-header h1 {
  position: relative;
  text-align: center;
}
